/public/js/lib/three.js-master/*
/public/js/config/config.js
/recipes/*
/node_modules/*
/.cache/*
/.mocha-puppeteer/*
*.log
*.db
*.db~
.DS_Store
/lua/serialization.lua
/lua/robot.lua
/lua/internet.lua
/release-builds/*