<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <title>Roboserver!</title>
    <link rel='stylesheet' href='/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/css/bootstrap-select.min.css'>
    <link rel='stylesheet' href='/css/style.css'>
  </head>
  <body>

    <div id='bottomLeftUI'>
      <div id='messageContainer'>
        <input type='text' id='commandInput'></input><br>
        <input type='checkbox' id='runInTerminal'></input>Run in Terminal
      </div>
      <div id='inventoryContainer'></div>
    </div>

    <div id='buttonContainer'>
      <span><%= user.username %></span>
      <span id='powerLevel'></span>
      <span id='hoverGuideCoordinates'></span>
      <br>
      <div>
        Scan Level:
        <select id='scanWhileMoving'>
          <option value='0'>None</option>
          <option value='1' selected>Small</option>
          <option value='2'>Big</option>
        </select>
      </div>
      <div>
        Selected Robot:
        <select id='robotSelect'></select>
      </div>
      <div class='btn-group' data-toggle='buttons'>
        <label class='btn btn-primary btn-xs active' data-toggle='collapse' data-target='.digToolOptions.in'>
          <input type='radio' name='options' id='moveTool' autocomplete='off' checked> Move
        </label>
        <label class='btn btn-primary btn-xs' data-toggle='collapse' data-target='.digToolOptions.in'>
          <input type='radio' name='options' id='interactTool' autocomplete='off' > Interact
        </label>
        <label class='btn btn-primary btn-xs' data-toggle='collapse' data-target='.digToolOptions.in'>
          <input type='radio' name='options' id='inspectTool' autocomplete='off' > Inspect
        </label>
        <label class='btn btn-primary btn-xs' data-toggle='collapse' data-target='.digToolOptions:not(.in)'>
          <input type='radio' name='options' id='digTool' autocomplete='off' > Swing
        </label>
        <label class='btn btn-primary btn-xs' data-toggle='collapse' data-target='.digToolOptions:not(.in)'>
          <input type='radio' name='options' id='placeTool' autocomplete='off' > Place
        </label>
      </div>
      <br>
      <div class='digToolOptions collapse'>
        <input type='number' id='selectStartX' class='coordinateInput' placeholder='X'>
        <input type='number' id='selectStartY' class='coordinateInput' placeholder='Y'>
        <input type='number' id='selectStartZ' class='coordinateInput' placeholder='Z'>
        <br>
        <input type='number' id='selectEndX' class='coordinateInput' placeholder='X'>
        <input type='number' id='selectEndY' class='coordinateInput' placeholder='Y'>
        <input type='number' id='selectEndZ' class='coordinateInput' placeholder='Z'>
      </div>
      <div class='input-group'>
        <select class='selectpicker' data-live-search='true' id='craftSelect' title='Craft something!'></select>
        <span class='input-group-btn'>
          <button class='btn btn-default' type='button' id='craftButton'>Craft</button>
        </span>
      </div>
      <div id='buttonDiv'></div>
      <label for='cutawayValue'>Cutaway point</label>
      <div class='input-group'>
        <div class='input-group-btn'>
          Cutaway: 
          <button id='axisButton' class='btn btn-default'>X</button>
          <button id='operationButton' class='btn btn-default'>&gt;</button>
        </div>
        <input type='number' id='cutawayValue' class='form-control'>
      </div>
    </div>

    <script src='/js/lib/three.js-master/build/three.js'></script>
    <!--<script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r81/three.min.js'></script> -->
		<script src='/js/lib/PointerLockControls.js'></script>
    <script src='/js/lib/socket.io.js'></script>

		<script src='/js/VoxelMap.js'></script>
		<script src='/js/CoordForm.js'></script>
		<script src='/js/CutawayForm.js'></script>
		<script src='/js/map.js'></script>

    <script type='text/javascript' src='/js/fetchPromise.js'></script>
    <script type='text/javascript' src='/js/recipeSearch.js'></script>
    <script type='text/javascript' src='/js/interface.js'></script>
		<script src='/js/buttons.js'></script>

    <script src='/js/lib/jquery-3.1.1.min.js'></script>
		<script src='/js/lib/bootstrap.min.js'></script>
		<script src='/js/lib/bootstrap-select.min.js'></script>

  </body>
</html>
