<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <title>Roboserver!</title>
    <link rel='stylesheet' href='/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/css/bootstrap-select.min.css'>
    <link rel='stylesheet' href='/css/style.css'>
  </head>
  <body>

    <div id='controlsDisplay' class="modal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Controls</h4>
          </div>
          <table class="table modal-body">
            <tr><th>Function</th><th>Primary Key</th><th>Alternate Key</tr>
            <tr><td>Show/Hide Controls</td><td>?</td><td>Shift + /</tr>
            <tr><td>Lower Cursor</td><td>Ctrl</td><td>Alt</td></tr>
            <tr><td>Pan Camera</td><td>WASD</td><td>↑↓←→</td></tr>
            <tr><td>Raise Camera</td><td>Space</td><td></td></tr>
            <tr><td>Lower Camera</td><td>Shift</td><td></td></tr>
            <tr><td>Split Item Stack</td><td>Ctrl + Drag and Drop</td><td>Alt + Drag and Drop</td></tr>
          </table>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div id='itemTransferAmountModal' class="modal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Amount to Transfer</h5>
        </div>
        <div class='modal-body'>

          <form id='itemTransferAmountForm' onsubmit='return false;'>
            <div class='input-group input-group-sm'>
              
              <input id='transferAmountInput' class='form-control' type='number' min='0' max='64'></input>

              <span class='input-group-btn'>
                <button class='btn btn-primary' id='transferButton'>Transfer</button>
              </span>

            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

    <div id='topLeftUI'>
      
      <div class='panel panel-default inline-block'>
        <div class='panel-body information-panel'>

          <div id='versionNumberDisplay'>
            Version: 
            <span id='versionNumber'></span>
          </div>

          <div id='usernameDisplay'>
            User: 
            <%= user.username %>
          </div>

          <div id='cursorPositionDisplay'>
            Position: 
            <span id='hoverGuideCoordinates'></span>
          </div>

          <div id='powerLevelDisplay' class='hidden'>
            Power: 
            <span id='powerLevel'></span>
          </div>

        </div>
      </div>

      <div id='bannerMessageDiv' class="alert alert-success alert-dismissable hidden">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <span id='bannerMessage' ></span>
      </div>

    </div>

    <div id='bottomLeftUI'>
      <div id='inventoryContainer' class='hidden'></div>
    </div>

    <div id='buttonContainer' class='flex-col'>

     

      <div id='robotSelectDiv' class="input-group input-group-md">

        <span class="input-group-addon">Robot</span>
        
        <select id='robotSelect' class='form-control input-group-select'>
          <option value='' selected></option>
        </select>

      </div>

      
      <br>


      <div class='panel panel-default fullWidth'>

        <div class='panel-heading'>Tools</div>

        <div class='panel-body flex-col'>
          <div data-toggle='buttons'>
            <div class="btn-group btn-group-justified">

              <label id='moveButton' class='btn btn-primary btn-xs active' data-toggle='collapse' data-target='.digToolOptions.in'>
                <div id='moveButtonTooltip'>
                  <input type='radio' name='options' id='moveTool' autocomplete='off' checked> Move
                </div>
              </label>
            
              
              <label id='interactButton' class='btn btn-primary btn-xs' data-toggle='collapse' data-target='.digToolOptions.in'>
                <div id='interactButtonTooltip'>
                  <input type='radio' name='options' id='interactTool' autocomplete='off' > Interact
                </div>
              </label>
            
              
              <label id='inspectButton' class='btn btn-primary btn-xs' data-toggle='collapse' data-target='.digToolOptions.in'>
                <div id='inspectButtonTooltip'>
                  <input type='radio' name='options' id='inspectTool' autocomplete='off' > Inspect
                </div>
              </label>

            </div>

            <div class="btn-group btn-group-justified">
              
              
              <label id='swingButton' class='btn btn-primary btn-xs' data-toggle='collapse' data-target='.digToolOptions:not(.in)'>
                <div id='swingButtonTooltip'>
                  <input type='radio' name='options' id='digTool' autocomplete='off' > Swing
                </div>
              </label>
            
              
              <label id='placeButton' class='btn btn-primary btn-xs' data-toggle='collapse' data-target='.digToolOptions:not(.in)'>
                <div id='placeButtonTooltip'>
                  <input type='radio' name='options' id='placeTool' autocomplete='off' > Place
                </div>
              </label>

            </div>

          </div>

          <div class='digToolOptions collapse fullWidth'>
                  
            <div id='selectStartDiv' class='flex-row'>
              <input type='number' id='selectStartX' class='coordinateInput flex-item' placeholder='X'>
              <input type='number' id='selectStartY' class='coordinateInput flex-item' placeholder='Y'>
              <input type='number' id='selectStartZ' class='coordinateInput flex-item' placeholder='Z'>
            </div>

            <div id='selectEndDiv' class='flex-row'>
              <input type='number' id='selectEndX' class='coordinateInput flex-item' placeholder='X'>
              <input type='number' id='selectEndY' class='coordinateInput flex-item' placeholder='Y'>
              <input type='number' id='selectEndZ' class='coordinateInput flex-item' placeholder='Z'>
            </div>

          </div>
              
          <br>

          <div class='input-group input-group-sm'>
            
            <span class='input-group-btn'>
              <button class='btn btn-primary' type='button' id='craftButton'>Craft</button>
            </span>

            <select class='selectpicker form-control' data-live-search='true' id='craftSelect' title='Craft something!'></select>

          </div>
        </div>

      </div>

      <div class='panel panel-default'>

        <div class='panel-heading'>Actions</div>

        <div class='panel-body'>
          <div class="btn-group btn-group-justified">

            <a class="btn btn-primary btn-xs" id='inventoryButton'><div id='inventoryButtonTooltip'>Inventory</div></a>
            <a class="btn btn-primary btn-xs" id='scanButton'><div id='scanButtonTooltip'>Scan</div></a>

          </div>

          <div class="btn-group btn-group-justified">

            <a class="btn btn-primary btn-xs" id='equipButton'><div id='equipButtonTooltip'>Equip</div></a>
            <a class="btn btn-primary btn-xs" id='centerButton'><div id='centerButtonTooltip'>Center</div></a>

          </div>
        </div>

      </div>


      <div class='panel panel-default'>
        
        <div class='panel-heading'>Cutaway point</div>
        
        <div class='panel-body'>
          <div class='input-group'>
            <div class='input-group-btn'>
              <button id='axisButton' class='btn btn-primary'>X</button>
              <button id='operationButton' class='btn btn-primary'>&gt;</button>
            </div>
            <input type='number' id='cutawayValue' class='form-control'>
          </div>
        </div>

      </div>

      <div id='scanSizeDiv' class="input-group input-group-md">

        <span class="input-group-addon">Scan Size</span>
        
        <select id='scanLevelSelect' class='form-control input-group-select'>
          <option value='0'>None</option>
          <option value='1' selected>Small</option>
          <option value='2'>Big</option>
        </select>

      </div>

      <br>
          
      <div class='panel panel-default fullWidth flex-item flex-col'>
        <div class='panel-heading fullWidth'>Command History</div>
        <div class='panel-body fullWidth flex-item flex-col'>
          <input type='text' id='commandInput' class='hidden'></input>
          <span id='runInTerminalDiv' class='hidden'><input type='checkbox' id='runInTerminal'></input> Run in Terminal</span>
          <div id='messageContainer'></div>
        </div>
      </div>

    </div>

    <script>var GLOBALS = {}</script>

    <!-- Insert this line above script imports to fix electron import path for jquery -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

    <script src='/js/lib/three.min.js'></script>
		<script src='/js/lib/PointerLockControls.js'></script>
    <script src='/js/lib/socket.io.js'></script>

		<script type='module' src='/js/client/WorldAndScenePoint.mjs'></script>
		<script type='module' src='/js/client/Robot.mjs'></script>
		<script type='module' src='/js/client/VoxelMap.mjs'></script>
		<script type='module' src='/js/client/CoordForm.mjs'></script>
		<script type='module' src='/js/client/CutawayForm.mjs'></script>
		<script type='module' src='/js/client/MapRender.mjs'></script>

    <script src='/js/shared/recipeSearch.js'></script>
    <script type='module' src='/js/client/InventoryRender.mjs'></script>

    <script src='/js/lib/jquery-3.1.1.min.js'></script>
		<script src='/js/lib/bootstrap.min.js'></script>
		<script src='/js/lib/bootstrap-select.min.js'></script>

    <script type='module' src='/js/client/bannerMessages.mjs'></script>
    <script type='module' src='/js/client/GUI.mjs'></script>
    <script type='module' src='/js/client/WebClient.mjs'></script>
    
    <script src='/js/lib/ajv.min.js'></script>
    <script type='module' src='/js/shared/fromClientSchemas.mjs'></script>
    
    <script type='module' src='/js/client/Game.mjs'></script>
    
    <script src='/js/lib/react.production.min.js'></script>
    <script src='/js/lib/react-dom.production.min.js'></script>
    <script src='/js/lib/react-bootstrap.min.js'></script>

    
    <script type='module'>
      import {Game} from '/js/client/Game.mjs';
      GLOBALS = {};
      GLOBALS.game = new Game();
      GLOBALS.game.mapRender.render();
      GLOBALS.game.mapRender.handleVisibilityChange();
    </script>

    <!-- Insert this line after script imports to fix electron import path for jquery -->
    <script>if (window.module) module = window.module;</script>

  </body>
</html>
