<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <title>Roboserver!</title>
    <link rel='stylesheet' href='/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/css/bootstrap-select.min.css'>
    <link rel='stylesheet' href='/css/style.css'>
  </head>
  <body>

    <div id='bottomLeftUI'>
      <div id='messageContainer'>
        <input type='text' id='commandInput'></input><br>
        <input type='checkbox' id='runInTerminal'></input>Run in Terminal
      </div>
      <div id='inventoryContainer' class='hidden'></div>
    </div>

    <div id='buttonContainer' class='container'>
      
      <div class='row'>
        <div class='col-xs-12'>
          
        </div>
      </div>

      <div class='row'>
        <div class='col-xs-4'>
          <span><%= user.username %></span>
        </div>
        <div class='col-xs-4'>
          <span id='powerLevel'></span>
        </div>
        <div class='col-xs-4'>
          <span id='hoverGuideCoordinates'></span>
        </div>
      </div>


      <div class='row'>
        <div class='col-xs-12'>

          <div class="input-group input-group-sm">

            <span class="input-group-addon">Scan Level</span>
            
            <select id='scanLevelSelect' class='form-control'>
              <option value='0'>None</option>
              <option value='1' selected>Small</option>
              <option value='2'>Big</option>
            </select>

          </div>
          
        </div>
      </div>

      <div class='row'>
        <div class='col-xs-12'>

        <div class="input-group input-group-sm">

          <span class="input-group-addon">Selected Robot</span>
          
          <select id='robotSelect' class='form-control'></select>

        </div>

        </div>
      </div>

      <div class='row'>

        <div class='col-xs-12' data-toggle='buttons'>
          
          <div class="btn-group btn-group-justified">

            <label class='btn btn-primary btn-xs active' data-toggle='collapse' data-target='.digToolOptions.in'>
              <input type='radio' name='options' id='moveTool' autocomplete='off' checked> Move
            </label>
          
            <label class='btn btn-primary btn-xs' data-toggle='collapse' data-target='.digToolOptions.in'>
              <input type='radio' name='options' id='interactTool' autocomplete='off' > Interact
            </label>
          
            <label class='btn btn-primary btn-xs' data-toggle='collapse' data-target='.digToolOptions.in'>
              <input type='radio' name='options' id='inspectTool' autocomplete='off' > Inspect
            </label>

          </div>

          <div class="btn-group btn-group-justified">
            
            <label class='btn btn-primary btn-xs' data-toggle='collapse' data-target='.digToolOptions:not(.in)'>
              <input type='radio' name='options' id='digTool' autocomplete='off' > Swing
            </label>
          
            <label class='btn btn-primary btn-xs' data-toggle='collapse' data-target='.digToolOptions:not(.in)'>
              <input type='radio' name='options' id='placeTool' autocomplete='off' > Place
            </label>

          </div>

        </div>

      </div>

      <div class='digToolOptions collapse row'>
        <div class='col-xs-12'>

          <div class='row'>
            <div class='col-xs-4'>
              <input type='number' id='selectStartX' class='coordinateInput' placeholder='X'>
            </div>
            <div class='col-xs-4'>
              <input type='number' id='selectStartY' class='coordinateInput' placeholder='Y'>
            </div>
            <div class='col-xs-4'>
              <input type='number' id='selectStartZ' class='coordinateInput' placeholder='Z'>
            </div>
          </div>

          <div class='row'>
            <div class='col-xs-4'>
              <input type='number' id='selectEndX' class='coordinateInput' placeholder='X'>
            </div>
            <div class='col-xs-4'>
              <input type='number' id='selectEndY' class='coordinateInput' placeholder='Y'>
            </div>
            <div class='col-xs-4'>
              <input type='number' id='selectEndZ' class='coordinateInput' placeholder='Z'>
            </div>
          </div>
        
        </div>
      </div>

      <div class='row'>
        <div class='col-xs-12'>

          <div class='input-group input-group-sm'>
            
            <span class='input-group-btn'>
              <button class='btn btn-primary' type='button' id='craftButton'>Craft</button>
            </span>

            <select class='selectpicker form-control' data-live-search='true' id='craftSelect' title='Craft something!'></select>

          </div>
          
        </div>
      </div>
     
      <div class='row'>
        <div class='col-xs-12'>

          <div class="btn-group btn-group-justified">

            <a class="btn btn-primary btn-xs" id='inventoryButton'>Inventory</a>
            <a class="btn btn-primary btn-xs" id='scanButton'>Scan</a>

          </div>

          <div class="btn-group btn-group-justified">

            <a class="btn btn-primary btn-xs" id='equipButton'>Equip</a>
            <a class="btn btn-primary btn-xs" id='centerButton'>Center</a>

          </div>

        </div>
      </div>

      <div class='row'>
        <div class='col-xs-12'>
          
        </div>
      </div>

      <label for='cutawayValue'>Cutaway point</label>

      <div class='input-group'>
        <div class='input-group-btn'>
          Cutaway: 
          <button id='axisButton' class='btn btn-primary'>X</button>
          <button id='operationButton' class='btn btn-primary'>&gt;</button>
        </div>
        <input type='number' id='cutawayValue' class='form-control'>
      </div>

    </div>

    <script src='/js/lib/three.js-master/build/three.js'></script>
    <!--<script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r81/three.min.js'></script> -->
		<script src='/js/lib/PointerLockControls.js'></script>
    <script src='/js/lib/socket.io.js'></script>

		<script src='/js/WorldAndScenePoint.js'></script>
		<script src='/js/Robot.js'></script>
		<script src='/js/VoxelMap.js'></script>
		<script src='/js/CoordForm.js'></script>
		<script src='/js/CutawayForm.js'></script>
		<script src='/js/map.js'></script>

    <script type='text/javascript' src='/js/fetchPromise.js'></script>
    <script type='text/javascript' src='/js/recipeSearch.js'></script>
    <script type='text/javascript' src='/js/Inventory.js'></script>
    <script type='text/javascript' src='/js/interface.js'></script>
		<script src='/js/buttons.js'></script>

    <script src='/js/lib/jquery-3.1.1.min.js'></script>
		<script src='/js/lib/bootstrap.min.js'></script>
		<script src='/js/lib/bootstrap-select.min.js'></script>

  </body>
</html>
