<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <title>Roboserver!</title>
    <script src="/js/socket.io.js"></script>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <div id='messageContainer'>
      <input type='text' id='commandInput'></input><br>
      <input type='checkbox' id='runInTerminal'></input>Run in Terminal
    </div>

    <div id='buttonContainer'>
      <input type='select' id='scanWhileMoving'>
        <option value='0'>None</option>
        <option value='1'>Small</option>
        <option value='2'>Big</option>
      </input>Scan While Moving
    </div>

    <script type='text/javascript' src='/js/interface.js'></script>

    <script src="/js/three.js-master/build/three.js"></script>
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r81/three.min.js"></script> -->
		<script src="/js/PointerLockControls.js"></script>
		<script src="/js/map.js"></script>
		<script src="/js/buttons.js"></script>

  </body>
</html>
