<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <title>Roboserver!</title>
    <!--<title>django/view/error.template</title>-->
    <script src='/js/socket.io.js'></script>
    <link rel='stylesheet' href='/css/style.css'>
    <link rel='stylesheet' href='/css/bootstrap.min.css'>
  </head>
  <body>

    <div id='messageContainer'>
      <input type='text' id='commandInput'></input><br>
      <input type='checkbox' id='runInTerminal'></input>Run in Terminal
    </div>

    <div id='buttonContainer'>
      <span id='hoverGuideCoordinates'></span>
      <br>
      <div class='btn-group' data-toggle='buttons'>
        <label class='btn btn-primary btn-xs active' data-toggle='collapse' data-target='.moveToolOptions:not(.in),.selectToolOptions.in'>
          <input type='radio' name='options' id='moveTool' autocomplete='off' checked> Move
        </label>
        <label class='btn btn-primary btn-xs' data-toggle='collapse' data-target='.moveToolOptions.in,.selectToolOptions:not(.in)'>
          <input type='radio' name='options' id='selectTool' autocomplete='off' > Select
        </label>
      </div>
      <br>
      <div class='moveToolOptions collapse in'>
        Scan Level:
        <select id='scanWhileMoving'>
          <option value='0'>None</option>
          <option value='1'>Small</option>
          <option value='2'>Big</option>
        </select>
      </div>
      <div class='selectToolOptions collapse'>
        X: <input type='number' id='selectStartX'>
        Y: <input type='number' id='selectStartY'>
        Z: <input type='number' id='selectStartZ'>
        <br>
        X: <input type='number' id='selectEndX'>
        Y: <input type='number' id='selectEndY'>
        Z: <input type='number' id='selectEndZ'>
      </div>
    </div>

    <script type='text/javascript' src='/js/interface.js'></script>

    <script src='/js/three.js-master/build/three.js'></script>
    <!--<script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r81/three.min.js'></script> -->
		<script src='/js/PointerLockControls.js'></script>
		<script src='/js/VoxelMap.js'></script>
		<script src='/js/CoordForm.js'></script>
		<script src='/js/map.js'></script>
		<script src='/js/buttons.js'></script>
		<script src='/js/jquery-3.1.1.min.js'></script>
		<script src='/js/bootstrap.min.js'></script>

  </body>
</html>
