<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <link rel='stylesheet' href='/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/css/accounts.css'>

    <!-- Insert this line above script imports to fix electron import path for jquery -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    
    <script src='/js/lib/jquery-3.1.1.min.js'></script>
    <script src='/js/lib/bootstrap.min.js'></script>

    <!-- Insert this line after script imports to fix electron import path for jquery -->
    <script>if (window.module) module = window.module;</script>

  </head>
  <body>

    <div>
      <ul class="nav nav-tabs">
        <li role="presentation" <% if (active == "login") { %>class="active"<% } %> ><a href="#loginTab" role="tab" data-toggle="tab"><span class="bigtext" >Login</span></a></li>
        <li role="presentation" <% if (active == "register") { %>class="active"<% } %> ><a href="#registerTab" role="tab" data-toggle="tab"><span class="bigtext" >Register</span></a></li>
      </ul>
    </div>

    <div class="tab-content">

      <div role="tabpanel" class="tab-pane <% if (active == "login") { %>active<% } %>" id="loginTab">
        <form class="form-horizontal" action='/login' method="POST">
          <fieldset>
            <div class="padded">
              <% if (error && (active == "login")) { %><span class="text-danger"><%= error %></span><% } %>
              <div class="control-group">
                <label class="control-label"  for="username">Username</label>
                <div class="controls">
                  <input type="text" name="username" placeholder="" class="input-xlarge" required>
                </div>
              </div>
              
              <div class="control-group">
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                  <input type="password" name="password" placeholder="" class="input-xlarge" required>
                </div>
              </div>

              <br>
              
              <div class="control-group">
                <div class="controls">
                  <input type="submit" value="Login" class="btn btn-success" />
                </div>
              </div>
            
            </div>
          </fieldset>
        </form>
      </div>

      <div role="tabpanel" class="tab-pane <% if (active == "register") { %>active<% } %>" id="registerTab">
        <form class="form-horizontal" action='/register' method="POST">
          <fieldset>
            <div class="padded">
              <% if (error && (active == "register")) { %><span class="text-danger"><%= error %></span><% } %>
              <div class="control-group">
                <label class="control-label"  for="username">Username</label>
                <div class="controls">
                  <input type="text" name="username" placeholder="" class="input-xlarge" required>
                </div>
              </div>
              
              <div class="control-group">
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                  <input type="password" id="register-password" name="password" placeholder="" class="input-xlarge" required>
                </div>
              </div>

              <br>
              
              <div class="control-group">
                <div class="controls">
                  <input type="submit" value="Register" class="btn btn-success" />
                </div>
              </div>

            </div>
          </fieldset>
        </form>
      </div>

    </div>
    
  </body>
</html>

