body {
  background-color: #f0f0f0;
  margin: 0px;
  overflow: hidden;
  font-family: monospace;
}

.message {
  font-size: 14px;
  display: inline-block;
  padding: 4px;
  border-radius: 25px;
  margin: 5px 0px;
  color: #FFFFFF;
  max-width: 300px;
  overflow-wrap: break-word;
}

.input {
  background-color: #337ab7;
  border: 1px solid #2e6da4;
}
.input:hover {
  background-color: #286090;
  border: 1px solid #204d74;
}

.output {
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  color: #555555;
}

#bottomLeftUI {
  position: fixed;
  top: 99%;
  left: 1%;
  transform:translateY(-100%);
}

#bottomLeftUI > div {
  display: inline-block;
}

#messageContainer {
  overflow-y: scroll;
}

#buttonContainer {
  position: absolute;
  right: 0%;
  top: 1%;
  width:300px;
}

#topLeftUI {
  position: fixed;
  top: 1%;
  left: 1%;
}

.coordinateInput {
  max-width: 100%;
  text-align: center;
  border-width: 0px 1px 1px 0px;
  float: left;
}

.mc-table {
  display: inline-block;
  background-color: #C6C6C6;
  border: 2px solid;
  border-color: #DBDBDB #5B5B5B #5B5B5B #DBDBDB;
  padding: 0px 6px 6px 6px;
  margin: 5px;
}

.mc-td[data-selected=true] {
  border-color: lime;
}
.mc-td:hover {
  background-color: #C3C3C3;
}

.mc-td {
  color: white;
  display: inline-block;
  background-color: #8B8B8B;
  border: 2px solid;
  border-color: #373737 #FFF #FFF #373737;
  width: 40px;
  height: 40px;
  text-align: left;
  user-select: none;
}

.hidden {
  display: none;
}